*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* 怪异模式 */
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.log img{
	display: block;
	height: 50px;
	width: 100px;
}
.nav li{
	list-style: none;
	float: left;
}
.nav li a{
	text-decoration: none;
	/* 去除下划线 */
	color: #000;
	padding: 14px 20px;
	display: block;
}